<div id="<%= dom_id delivery %>">
  <p>
    <strong>Product:</strong>
    <%= delivery.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= delivery.quantity %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= delivery.order_date %>
  </p>

</div>
